hello, world!!!

numRequestsStarted: <%= @started %>
numRequestsRunning: <%= @open %>
numRequestsFinished: <%= @finished %>
numRequestsRunningPeak: <%= @peak %>
node: <%= @node %>
<br/>
mineRunning: <%= @mineRunning %> <br/>
mineCount: <%= @mineCount %> <br/>
minMine: <%= @minMine %>ms <br/>
maxMine: <%= @maxMine %>ms <br/>
totalMineTime: <%= @mineTime %>ms <br/>
averageMine: <%= @averageMine %>ms <br/>
